---
import CMSReports from '../../../components/cms/CMSReports.jsx';
import '../../../styles/cms.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Broken Link Reports - DOMES V2</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap"
    />
  </head>
  <body>
    <CMSReports client:load />
  </body>
</html>
